<div id="user-form"></div>

<script type="text/javascript">
function initUI() {
  var model={first_name:'დიმიტრი',last_name:'ყურაშვილი'};

  var fields=[
    Forma.textField({name:"first_name",label:'სახელი',required:true}),
    Forma.textField({name:"last_name",label:'გვარი',required:true})
  ];

  var form=Forma.form({title:'მომხმარებლის შეცვლა',icon:'/icons/user--pencil.png',fields:fields,model:model,submit:'შენახვა'});
  form.showIn('#user-form');
};
window.onload=initUI;
</script>


<!--
<script type="text/javascript">
  var google_api_key='AIzaSyA-SMUKodB-2pDhnk_c35AEBoNFwsE03Ok';

  function initialize() {
    var path = [
      new google.maps.LatLng(42.00, 42.00),
      new google.maps.LatLng(42.00, 43.00),
    ];

    var mapOptions = {
      zoom: 8,
      center: path[1],
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    // var flightPlanCoordinates = [
    //   new google.maps.LatLng(37.772323, -122.214897),
    //   new google.maps.LatLng(21.291982, -157.821856),
    //   new google.maps.LatLng(-18.142599, 178.431),
    //   new google.maps.LatLng(-27.46758, 153.027892)
    // ];
    var flightPath = new google.maps.Polyline({
      path: path,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2,
      editable: true
    });

    google.maps.event.addListener(flightPath, 'dblclick', function(evt) {
      if (evt.vertex) {
        var p = flightPath.getPath();
        if (p.getLength() > 2) {
          p.removeAt(evt.vertex);
        }
      }
    });

    flightPath.setMap(map);
  }

  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.ex&key='+google_api_key+'&sensor=false&callback=initialize';
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>
-->