<style type="text/css">
#map{ position:absolute; left:0; right:0; top:42px; bottom:0; }
#toolbar{ position:absolute; left:5px; right:0; top:5px; height:32px; }
#sidebar{ position:absolute; left:0; bottom:0; top:0; width:0; padding:4px; }
.page-header{ padding: 4px; margin:0 0 8px 0; }
.waiting:after{ content:"...";}
</style>
<div id="sidebar"></div>
<div id="toolbar" style="btn-toolbar"></div>
<div id="map"></div>
<script type="text/javascript" src="/js/mapeditor.js"></script>