<style type="text/css">
#map{ position:absolute; left:300px;right:0;top:0;bottom:0; }
#sidebar{ position:absolute; left:0;bottom:0;top:0; width:300px;padding:4px;}
.page-header{padding: 0 0 8px 0; margin:0 0 8px 0;}
</style>
<div id="sidebar"></div>
<div id="map"></div>
<script type="text/javascript" src="/js/map.js"></script>