<h3 class="page-header">
  <i class="fa fa-trash-o"></i>
  <%= @title %>
</h3>
<p class="text-muted">
  კეშის მონაცემების გასუფთავება საჭიროა რუკაში მონაცემების ცვლილების შემდეგ.
</p>
<% if params[:status] == 'ok'%>
  <div class="alert alert-success alert-block">კეში გასუფთავებულია!</div>
<% else %>
<p>
  <%= link_to 'კეშის გასუფთავება &rarr;'.html_safe, objects_clear_cache_url, data: {confirm: 'ნამდვილად გინდათ კეშის გასუფთავება?', method: 'post' }, class: ['btn', 'btn-danger'] %>
</p>
<% end %>