<style type="text/css">
#map{ position:absolute; left:400px; top:0; bottom:0; right:0; border-left: 1px solid #aaa;}
#sidebar{ position:absolute; left:0; bottom:130px; top:0; width:400px; padding:8px; overflow: auto; }
#filterbar{ position:absolute; left:0; bottom:0; height:130px; width: 400px; background: #eee; border-top: 1px solid #aaa; padding: 8px;}
.page-header{ padding: 4px; margin:0 0 8px 0; }
.waiting:after{ content:"...";}
</style>
<div id="sidebar"></div>
<div id="filterbar"></div>
<div id="map"></div>
<script type="text/javascript" src="/js/mapeditor.js"></script>