<%@types.each do |type|%>
<h4 class="page-header">
  <%=link_to type.name, objects_path_type_url(id:type.id)%>
</h4>
<%=table_for type.surfaces, title: "#{@title} &mdash; #{type.name}".html_safe, icon: '/icons/car.png', collapsible: true do |t|
  t.title_action objects_new_path_surface_url(type_id:type.id), label: 'ახალი საფარი', icon: '/icons/car--plus.png'
  t.edit_action ->(x){objects_edit_path_surface_url(id:x.id)}
  t.delete_action ->(x){objects_delete_path_surface_url(id:x.id)}
  t.item_action ->(x){objects_up_path_surface_url(id:x.id)}, icon: '/icons/arrow-090.png', method:'post', condition:->(x){x.order_by>1}
  t.item_action ->(x){objects_down_path_surface_url(id:x.id)}, icon: '/icons/arrow-270.png', method:'post', condition:->(x){x.order_by<Objects::Path::Surface.where(type:x.type).count}
  t.text_field 'order_by', tag: 'strong'
  t.text_field 'name', url: ->(x){objects_path_surface_url(id:x.id)}
  #t.text_field 'type.name', i18n: 'type'
end%>
<%end%>