<%= tasks_table @tasks, title: @title %>

<hr>

<p>
  დავალებები სულ: <code><%= Task.count %></code> &nbsp;&nbsp;&nbsp;
  <%= link_to 'ყველ დავალების ნახვა &rarr;'.html_safe, tasks_all_url, class: ['btn', 'btn-default', 'btn-sm'] %>
</p>