<!-- current tracks -->

<h3 class="page-header">
  <i class="fa fa-send"></i>
  მიმდინარე ტრეკები
</h3>
<%= render partial: '/layouts/paths', locals: {paths: @last_tracks, direction: true} %>
<script type="text/javascript">
  var users = eval('<%= @last_tracks.map { |track| last=track.points.last; {username: track.user.username, full_name: track.user.full_name, lat: last.lat, lng: last.lng} if last }.compact.to_json.html_safe %>');
  var onPostInitialize = function(map, bounds) {
    for(var i = 0, l = users.length; i < l; i++) {
      var user = users[i];
      var position = new google.maps.LatLng(user.lat, user.lng);

      new MarkerWithLabel({
         position: position,
         map: map,
         icon: '/map/user.png',
         labelContent: user.username + ' (' + user.full_name + ')',
         labelAnchor: new google.maps.Point(8, 0),
         labelClass: "map-labels",
         labelStyle: { opacity: 0.75 }
       });
    }
    if (users.length > 1) { map.fitBounds(bounds); }
  };
</script>

<!-- all users -->

<h3 class="page-header">
  <i class="fa fa-users"></i>
  ყველა მომხმარებელი
</h3>
<p class="text-muted">აარჩიეთ სიიდან მომხმარებელი, რომლის ტრეკინგიც გსრუთ.</p>
<table class="table table-bordered table-striped table-hover">
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td width="200"><img src="/icons/user.png"/> <strong><%=user.username%></strong></td>
      <td><%=link_to user.full_name, tasks_tracking_user_url(id: user.id)%></td>
    </tr>
    <% end %>
  </tbody>
</table>