<%@types.each do |type|%>
  <%type.surfaces.each do |surface|%>
    <h4 class="page-header">
      <%=link_to type.name, objects_path_type_url(id:type.id)%> &gt;
      <%=link_to surface.name, objects_path_surface_url(id:surface.id)%>
    </h4>
    <%=table_for surface.details, title: @title, icon: '/icons/magnifier.png', collapsible: true do |t|
      cnt=Objects::Path::Detail.where(surface:surface).count
      t.title_action objects_new_path_detail_url(surface_id:surface.id), label: 'ახალი დეტალი', icon: '/icons/magnifier--plus.png'
      t.edit_action ->(x){objects_edit_path_detail_url(id:x.id)}
      t.delete_action ->(x){objects_delete_path_detail_url(id:x.id)}
      t.item_action ->(x){objects_up_path_detail_url(id:x.id)}, icon: '/icons/arrow-090.png', method:'post', condition:->(x){x.order_by>1}
      t.item_action ->(x){objects_down_path_detail_url(id:x.id)}, icon: '/icons/arrow-270.png', method:'post', condition:->(x){x.order_by<cnt}
      t.text_field 'order_by', tag: 'strong'
      t.text_field 'name', url: ->(x){objects_path_detail_url(id:x.id)}
      t.text_field 'surface.type.name', i18n: 'type'
      t.text_field 'surface.name', i18n: 'surface'
    end%>
  <%end%>
<%end%>