<% if photos.any? %>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="<%= photo.thumbnail_url %>" />
          <p class="text-center">ანძა #<%= link_to photo.owner.name, objects_tower_url(id: photo.owner.id) %></p>
          <% unless photo.confirmed? %>
            <p class="text-center">
              <%= link_to '<i class="fa fa-check">დადასტურება</i>'.html_safe, objects_confirm_photo_url(id: photo.id, return_url: request.url), data: { method: 'post', confirm: 'ნამდვილად ადასტურებთ ამ ფოტოს?' }%>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="well" style="padding: 32px; text-align: center; color: #aaa;">
    ამ გალერეაში არც ერთი გამოსახულება არაა
  </div>
<% end %>