<div class="page-header">
  <div class="pull-right">
    <%= link_to 'ყველა ფოტო &rarr;'.html_safe, objects_all_photos_url, class: ['btn', 'btn-default'] %>
  </div>
  <h2><%= @title %></h2>
</div>
<%= render partial: 'objects/photos/gallery', locals: { photos: @photos } %>