.map-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #aaa;
  white-space: nowrap;
  padding: 2px 5px;
}