<div id="admin-box">
  <h4 class="page-header">
    <i class="fa fa-wrench"></i>
    სისტემის ადმინისტრირება
  </h4>
  <p>
    <i class="fa fa-users"></i>
    <%=link_to t('pages.application.layout.admin_users'), admin_users_url%>
  </p>
</div>