<div id="admin-box">
  <strong class="label label-danger"><%=t('pages.application.layout.sysadmin')%></strong>
  &nbsp;
  <%=link_to t('pages.application.layout.admin_users'), admin_users_url%> |
  <%=link_to t('pages.application.layout.admin_roles'), admin_roles_url%>
</div>