<div id="footer" style="border-top: 1px solid #aaa; margin-top: 32px; padding: 16px 0;">
  <div class="row">
    <div class="col-sm-6">
      <p>&copy; 2014 <a href="http://www.gse.com.ge">საქართველოს სახელმწიფო ელექტროსისტემა</a></p>
      <% if current_user %>
        <p>
          <%= android_button %>
          <a href="/downloads/google_keyboard.apk" class="btn btn-default btn-sm">
            <i class="fa fa-keyboard-o"></i> ქართული კლავიატურა
          </a>
        </p>
      <% end %>
    </div>
    <div class="col-sm-6 text-right">
      created by: <a href="mailto:dimakura@gmail.com">Dimitri Kurashvili</a>
    </div>
  </div>
</div>