<!DOCTYPE html>
<html>
<head>
<!-- standard header -->
<%=render partial: 'layouts/head'%>
</head>
<body>
<div id="content">
  <div class="container">
    <%= nav_menu %>
    <%= yield %>
  </div>
</div>
</body>
</html>